footer{
  color: black;
  background-color: white;
}

h1,h2{
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  color: white;
  }

p{
  font-size: 30;
}

.nav-link{
  font-family: 'Inconsolata', monospace;
  color: black;
  font-size: 70;
}

.blurred-edge{
  border-radius: 20%;
}

footer{
  color: black;
  background-color: white;
}