/*Global Styles*/

body{
    background-color: white;
}

header {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin: 0px 5px;
 background-color: #D0DDEF; 
 border: 5px solid white;
}

main{
    background-color: beige;
}

footer {
 background-color:#619CBA;
}

section{
     padding: 5px;
}

.navigation{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

h1{
    box-shadow: 10px 10px 20px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    font-size: 100px;
    text-align:end;
    transition: 0.5s linear;
    transition-duration: .4s;
}

ul{
    list-style-type: none;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.4s linear;
    text-decoration: none;
    color: black; 
}

li:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: beige;
    text-decoration: none;
    transition: background-color 0.4s linear;
}

.barrier
{
    background-color: #619CBA;
    font-size: 10px;
}
.intro-section{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    margin-bottom: 0px;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.mainImage{
    align-self: center;
    width: 35%;
    height:35%;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
    border: 5px solid black;
}

.mainImage:hover{
    border: 5px solid darkred;
    box-shadow: 10px 10px 20px rgb(38, 0, 0);
    transform: translateY(3px);
}
.coding-section{
    background-color: #D0DDEF; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.codingImages{
    width: 35%;
    height: 35%;
    border: 3px solid black;
    margin: 4px;
}

.section-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px 25px 15px 15px;
}

.section-images .mediacontent {
    flex: 1;
    padding: 10px;
}

.mediacontent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.poster-section{
    background-color: beige; 
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 14px;
    margin: 2px;
    transition-duration: .4s;
    width: 240px;
    align-self: center;
    background-color: black;
    color: white; 
    margin-bottom: 10px;
}

button:hover{
    background-color: rgb(0, 0, 22);
    color:white;
    transform: translateY(1px);
}

button:active{
    background-color: rgb(1, 1, 43);
    box-shadow: 0 5px black;
    transform: translateY(1px);
}

.carpImages{
    width: 30%;
    height: 30%;
    margin: 20px;
    padding: 10px; 
}