/*Global Styles*/

body{
    background-color: white;
}

header {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin: 0px 5px;
 padding: 10px;
 background-color: #D0DDEF; 
 border: 5px solid white;
}

main{
    background-color: beige;
}

footer {
 background-color:#619CBA;
}

section{
     padding: 5px;
}

.navigation{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    font-size: 100px;
    text-align:end;
    transition: 0.5s linear;
}

ul{
    list-style-type: none;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.1s linear;
}

li:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: beige;
    transition: background-color 0.1s linear;
}

.barrier
{
    background-color: #619CBA;
    font-size: 10px;
}
.intro-section{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.poster-section{
    background-color: #D0DDEF; 

}
h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}
h3 {
    font-size: 20px;
}