/*Global Styles*/

body{
    background-color: blanchedalmond;
}

header {
 background-color: white;
}

main{
    background-color: blanchedalmond;
}

footer {
 background-color: white;
}

section{
     border: 2px solid black;
     padding: 5px;
}